@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@300&family=Bai+Jamjuree:wght@400;500;600;700&family=Lobster&family=Nunito:wght@300&family=Open+Sans:wght@300;400&family=Roboto:wght@300;400;500&display=swap');

:root{
    --clr-body:#b6cbce;
    --clr-heading:#eef3db;
    --clr-base:#033f47;
    --clr-base2:#022a30;
    --clr-brand:#e0f780;
    --clr-brand2:#de2f58;
    --sidebar-width:240px;
    --font-base:'Bai Jamjuree', sans-serif;
}

body{
    background-color:var( --clr-base2);
    color:var(--clr-body);
    font-family:var(--font-base);
}

h1,h2,h3,h4,h5,h6{
    color:var(--clr-heading);
    font-weight:700px;
}

a{
    text-decoration:none;
    color:var(--clr-body);
    transition:all .3s ease;
}

a:hover{
    color:var(--clr-brand);
}

img{
    width:100%;
}
.image{
    width:150px
}
.text-brand{
    color:var(--clr-brand);
}

.navbar{
    background-color: var(--clr-base);
}

.navbar .nav-link{
    font-weight:700px;
    text-transform: uppercase;
    color:#fff;
}
.navbar .nav-link:hover{
    color:var(--clr-brand);
}

@media(min-width:992px){

    .navbar{
        min-height:100vh;
        width:var(--sidebar-width);
        background:rgb(15, 15, 15);
        background-size:cover;
        background-position:center;
    }

    .content-home{
        padding-left:var(--sidebar-width);
        min-height:100vh;
        height:100%;
        display:flex;
        flex-direction:column;
        justify-content:center;
        padding-top:80px;
        padding-bottom:80px;
        padding-left:290px;
        border-bottom:2px solid rgba(255,255,255,0.1);
    }

    .service .container{
        padding-left:200px;
    }
    
}

@media(max-width:984px){

    .image{
        width:60px;
    }

    .content-home{
        margin-top:120px;
    }

}


/* btn */
.btn{
    padding:12px 28px;
    font-weight:700px;
}

.btn-brand{
    background-color:var(--clr-brand);
    border-color:var(--clr-brand);
}

.btn-brand:hover,
.btn-brand:focus{
    background-color:var( --clr-brand);
    color:var(--clr-base);
    border-color: var(--clr-brand);
}

.link-custom{
    font-weight:bold;
    position:relative;
}

.link-custom::after{
    content:"";
    width:0%;
    height:2px;
    background-color:var(--clr-brand);
    position:absolute;
    left:0;
    top:110%;
    transition:all .4s;
}

.link-custom:hover::after{ 
    width:100%;
}

.bg-base{
    background-color: var(--clr-base);
    border-radius:4px;
}

.shadow-effect{
    transition: all .4s;
}

.shadow-effect:hover{
    box-shadow: -6px 6px 0px 0px var(--clr-brand);
}

.iconbox{
    width:60px;
    height:60px;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:var(--clr-brand);
    color:var(--clr-base);
    font-size:28px;
}

.card-custom-images{
    overflow:hidden;
}

.card-custom-images img{
    border-radius:7px;
    transition:all .4s ease;
}

.card-custom-images img:hover{
    transform:scale(1.1);
}

.color{
    color:var(--clr-brand);
}

.nav-link{
    font-weight:bold;
}
